.services {
  border-bottom: 1px solid #dedede;
  padding: 60px 20px;
}

.services__container {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.services__title {
  margin: 0;
}

.services__subtitle {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #2b2b2b;
  margin: 50px 0 30px;
}

.services__list_direction {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 33px;
}

.services__list_stage .MuiBreadcrumbs-li {
  width: calc((100% - (35px + 16px) * 4) / 5);
  align-self: start;
}

@media screen and (max-width: 600px) {
  .services {
    font-size: 30px;
    line-height: 36px;
    padding: 50px 20px;
  }

  .services__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 22px 0;
  }

  .services__list_direction {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .services__list_stage {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 5%;
  }

  .services__list_stage .MuiBreadcrumbs-ol {
    justify-content: center;
  }

  .services__list_stage .MuiBreadcrumbs-li {
    width: calc((100% - 35px * 2) / 2);
  }

  .services__list_stage .MuiBreadcrumbs-separator {
    margin: 0;
  }

  .services__list_stage .MuiBreadcrumbs-li:nth-child(9) {
    width: calc(100% / 2);
    margin-top: 20px;
  }

  .services .link_navigation {
    display: none;
  }
}
