.crewman {
  width: 290px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.crewman__image {
  width: 202px;
  height: 203px;
  border-radius: 4px;
  margin-top: 5px; 
  object-fit: contain; 
}

.crewman__name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
}

.crewman__position {
  font-size: 25px;
  line-height: 1.2;
  color: #606060;
  margin: 8px 0 10px;
}

.crewman__quote {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .crewman {
    width: 100%;
    display: grid;
    grid-template-columns: 140px auto;
    grid-column-gap: 20px;
  }

  .crewman__image {
    grid-row: 1/5;
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 5px;
  }

  .crewman__position {
    margin: 12px 0;
  }
}

@media screen and (max-width: 600px) {
  .crewman__name {
    font-size: 28px;
  }

  .crewman__position {
    font-size: 20px;
  }

  .crewman__quote {
    font-size: 18px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .crewman {
    grid-template-columns: 100px auto;
  }

  .crewman__image {
    object-fit: none;
    object-position: center -20px;
  }

  .crewman__name {
    font-size: 24px;
  }
  
  .crewman__position {
    margin: 5px 0;
  }

  .crewman__quote {
    font-size: 15px;
  }
}