.crewman {
  width: 290px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.crewman__name {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
}

.crewman__position {
  font-size: 25px;
  line-height: 30px;
  color: #606060;
  margin: 8px 0 10px;
}

.crewman__quote {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .crewman {
    width: 100%;
    display: grid;
    grid-template-columns: 140px auto;
    grid-column-gap: 20px;
  }

  .crewman__image {
    grid-row: 1/5;
    width: 140px;
    border-radius: 4px;
    margin-top: 5px;
  }

  .crewman__position {
    margin: 12px 0;
  }
}

@media screen and (max-width: 600px) {
  .crewman__name {
    font-size: 28px;
    line-height: 34px;
  }

  .crewman__position {
    font-size: 20px;
    line-height: 24px;
  }

  .crewman__quote {
    font-size: 18px;
    line-height: 18px;
  }
}