.direction {
  display: grid;
  grid-template-columns: calc(30% - 10px) 70%;
  grid-gap: 10px;
  box-sizing: border-box;
  padding: 20px 10px 10px 20px;
  border: 1px solid rgba(71, 197, 237, 0.7);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.direction__image {
  grid-row: 1/4;
  display: block;
  align-self: center;
  justify-self: center;
}

.direction__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.direction__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.direction__block {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 13px;
  justify-content: flex-end;
}

.direction__block-text {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  grid-column-gap: 5px;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
}

@media screen and (max-width: 500px) {
  .direction {
    grid-template-columns: 60px auto;
    grid-gap: 7px 10px;
    padding: 10px;
  }

  .direction__image {
    grid-row: 1;
    width: 60px;
    height: 40px;
    object-fit: contain;
  }

  .direction__title {
    grid-column: 2;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    align-self: center;
  }

  .direction__text {
    grid-column: 1/3;
    text-align: justify;
  }

  .direction__block {
    grid-column: 1/3;
  }

  .direction__block-text {
    font-size: 14px;
    line-height: 17px;
  }
}