.formfeedback__phone-block {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c7c9d9;
}

.formfeedback__phone-block:hover {
  border: 1px solid #3e7bfa;
}

.formfeedback__phone-block:focus {
  border: 1px solid #3e7bfa;
}

.formfeedback__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 10.5px;
  line-height: 13px;
  color: #686868;
  opacity: 0.6;
  margin: 0 0 0 -7px;
}

.formfeedback__label-politics {
  cursor: pointer;
  margin-left: 3px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 10.5px;
  line-height: 13px;
  opacity: 0.6;
  color: #686868;
}

.formfeedback__button-block {
  display: flex;
}

.formfeedback__button-block::after {
  content: "Укажите, когда с Вами связаться";
  position: absolute;
  left: 0;
  bottom: -15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 13px;
  color: #242424;
  opacity: 0.6;
}

.react-tel-input .form-control {
  border: none;
  border-left: 1px solid #c7c9d9;
  border-radius: 0 4px 4px 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 5px 5px 5px 53px;
  font-family: "Inter", sans-serif;
}

.react-tel-input .selected-flag .arrow {
  margin-top: 1px;
}

.react-tel-input .special-label {
  display: none;
}

.react-tel-input .form-control:hover {
  border-color: #c7c9d9;
}

.react-tel-input .form-control:focus {
  border-left: 1px solid #c7c9d9;
  box-shadow: none;
}

.react-tel-input .country-list {
  width: 330px;
}

.formfeedback__date_unchange .MuiInputBase-root {
  color: #8f90a6;
}

/* .MuiPaper-root.MuiPopover-paper.MuiPaper-rounded {
  top: calc(50% - 305px / 2) !important;
  left: calc(50% - 310px / 2) !important;
} */

/* .MuiPickersToolbar-toolbar {
  background-color: #3e7bfa;
}

.MuiPickersDay-daySelected {
  background-color: #3e7bfa;
}

.MuiDialogActions-root .MuiButton-textPrimary {
  color: #3e7bfa;
} */

@media screen and (max-width: 600px) {
  .popup__feedback .MuiDialog-paperWidthSm {
    padding: 25px;
  }

  .formfeedback__button-block {
    display: grid;
    grid-template-columns: 35% calc(65% - 10px);
    grid-gap: 20px 10px;
  }

  .formfeedback__button-block::after {
    bottom: 45px;
  }

  .react-tel-input .country-list {
    width: calc(100vw - 148px);
  }

  .feedback__button-phone_long .country-list {
    width: calc(100vw - 110px);
  }
}

@media screen and (max-width: 375px) {
  .popup__feedback .MuiDialog-paperWidthSm {
    padding: 15px;
  }

  .react-tel-input .country-list {
    width: calc(100vw - 130px);
  }
}
