.ready-services {
  background-color: #232323;
  color: #fff;
  box-sizing: border-box;
  padding: 60px 20px 90px;
}

.ready-services__container {
  max-width: 1260px;
  margin: 0 auto;
}

.ready-services__title {
  font-weight: 300;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.02em;
  margin: 0 0 46px;
}

.ready-services__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.ready-services__subtitle_light {
  display: block;
  font-weight: 300;
  color: #dedede;
}

.ready-services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 36px 0 0;
}

.ready-services__last-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ready-services__link {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #dedede;
}

.ready-services__button {
  width: 198px;
  height: 40px;
  background-color: #fff;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #679afd;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(103, 154, 253, 0.2));
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.035em;
  text-decoration: none;
  color: #679afd;
}

@media screen and (max-width: 500px) {
  .ready-services {
    padding: 50px 20px 30px;
  }

  .ready-services__title {
    font-size: 35px;
    line-height: 42px;
    margin: 0 0 20px;
  }

  .ready-services__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  .ready-services__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .ready-services__last-item {
    grid-column: 1/3;
    grid-row: 5;
  }

  .ready-services__link {
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
  }
}
