.whyme {
  border-bottom: 1px solid #dedede;
  padding: 60px 20px;
}

.whyme__container {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.whyme__title {
  margin: 0 0 60px;
}

.whyme__list {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 140px;
  margin: 0 auto;
}

.whyme__item {
  display: grid;
  grid-row-gap: 20px;
  height: fit-content;
}

.whyme__item:nth-child(1) {
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
}

.whyme__item:nth-child(2) {
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
}

.whyme__item-image_first {
  grid-column: 2;
  grid-row: 1/4;
  align-self: center;
  justify-self: center;
}

.whyme__item-image_second {
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.whyme__item-title {
  align-self: end;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #2b2b2b;
  margin: 0;
}

.whyme__item-description {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
}

.whyme__item-description_bold {
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .whyme {
    padding: 50px 20px;
  }

  .whyme__title {
    margin: 0 0 40px;
  }

  .whyme__list {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .whyme__item {
    grid-gap: 5px 10px;
    grid-template-columns: repeat(max-content, auto);
  }

  .whyme__item:nth-child(1) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .whyme__item:nth-child(2) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .whyme__item-image {
    grid-row: 1/3;
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .whyme__item-image_first {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    width: 175px;
    height: 175px;
  }

  .whyme__item-image_second {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    width: 175px;
    height: 175px;
  }

  .whyme__item-title {
    align-self: end;
  }

  .whyme__item-title_small {
    grid-column: 2;
    grid-row: 1;
    font-size: 15px;
    line-height: 18px;
  }

  .whyme__item-description {
    font-size: 18px;
    line-height: 22px;
  }

  .whyme__item-description_small {
    grid-column: 2;
    grid-row: 2;
    font-size: 15px;
    line-height: 18px;
  }
}
