.whoelse {
  width: 280px;
}

.whoelse__image {
  display: block;
  height: 120px;
}

.whoelse__position {
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  color: #606060;
  margin: 10px 0;
}

.whoelse__description {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #525252;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .whoelse {
    width: 100%;
  }

  .whoelse__position {
    font-size: 18px;
    line-height: 18px;
  }

  .whoelse__description {
    font-size: 18px;
    line-height: 22px;
  }
}