@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

.page {
  max-width: 1600px;
  font-family: "Inter", sans-serif;
  margin: auto;
}

.page__progress {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link_navigation {
  width: max-content;
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #2d2d2d;
  margin: 50px 0 0;
}

.link_navigation::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 24px;
}

.title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.02em;
}

.input {
  outline: none;
  color: #303030;
}

.input::placeholder {
  color: #8f90a6;
}

.input:hover {
  border: 1px solid #3e7bfa;
  color: #3e7bfa;
}

input:-webkit-autofill
{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.textarea {
  outline: none;
  color: #303030;
}

.textarea::placeholder {
  color: #8f90a6;
}

.textarea:hover {
  border: 1px solid #3e7bfa;
  color: #3e7bfa;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 35px;
    line-height: 42px;
  }
}
